@font-face {
  font-family: 'gagalin';
  src: url("../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/Gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/Lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/Lifehack/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/*.wraper{
	height: 100%;
    min-width: 1100px;
}*/
.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }

.natural {
  background: url("../img/background/bg-first.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }

.natural__container {
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.natural__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 83px; }

.banner {
  width: 50%; }

.desc {
  padding-top: 8rem;
  width: 50%; }

.desc__title {
  font-family: gagalin;
  color: #f9b43b;
  font-size: 72px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 11px; }

.desc__text {
  font-family: lifehack;
  color: #ffffff;
  font-size: 65px;
  font-weight: 500;
  text-align: left;
  line-height: 0.94;
  letter-spacing: -2px; }

.scroll {
  margin-top: 8rem; }

.best {
  background: url("../img/background/bg.png") center bottom no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  min-height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__container {
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.title {
  padding-bottom: 5px; }

.title__text {
  font-family: gagalin;
  font-size: 72px;
  font-weight: 400;
  color: #2f3234;
  text-transform: uppercase; }

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.advantages__inner {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.advantages__inner {
  margin-right: 20px; }
  .advantages__inner:last-child {
    margin-right: 0; }

.advantages__img {
  width: 97px;
  height: 94px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 16px; }

.advantages__img_meat {
  /*width: 97px;
	height: 89px;*/
  background-image: url("../img/icons/meat.svg"); }

.advantages__img_hand {
  /*width: 73px;
	height: 85px;*/
  background-image: url("../img/icons/hand.svg"); }

.advantages__img_salad {
  /*width: 88px;
	height: 75px;*/
  background-image: url("../img/icons/salad.svg"); }

.advantages__subtitle {
  font-family: Lifehack;
  color: #2f3234;
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  padding-top: 9px; }

.advantages__text {
  font-family: Ubuntu;
  color: #2f3234;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-top: -5px; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  position: absolute; }

.header__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.header__logo {
  margin-right: auto; }

.logo__img {
  /*padding-top: 20px;*/
  width: 90px;
  height: 70px; }

.header__menu {
  padding-top: 12px; }

.nav {
  margin-right: 0.9375rem; }
  .nav__list {
    margin: 0;
    padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:first-child:before {
    display: none; }

.nav__item:last-child:before {
  display: none; }

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.header__btn {
  padding-top: 12px; }

.order-link {
  margin: 0 6px;
  width: 97px;
  border-radius: 5px;
  padding-top: 2px;
  margin-top: 6px;
  border: none;
  font-family: Ubuntu;
  background-color: #e45028;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; }

.paginations {
  right: 1%;
  position: fixed;
  top: 11%;
  z-index: 1; }

.paginations__list {
  margin-top: 8px;
  margin-right: 53px;
  line-height: 19px; }

.paginations__item {
  list-style: none;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff; }

.paginations__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px; }

.paginations__item:hover .paginations__link {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: -3px; }

.paginations__link--active {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: -3px; }

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh; }

.reviews__container {
  min-height: 650px;
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 25%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.reviews__inner:hover .reviews__item {
  opacity: 1; }

.reviews__img {
  width: 100%;
  height: 50%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  background-size: cover;
  position: relative; }

.reviews__item {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 90%;
  width: 70%;
  text-align: left;
  margin: auto;
  position: absolute;
  -ms-flex-item-align: center;
  align-self: center; }

.reviews__title {
  font-size: 14px;
  color: #ffffff;
  font-family: gagalin;
  margin-bottom: 30px; }

.reviews__text {
  font-size: 14px;
  color: #ffffff;
  line-height: 24px; }

.btn__more {
  width: 110px;
  border-radius: 5px;
  padding-top: 2px;
  margin-top: 20px;
  border: none;
  font-family: Ubuntu;
  background-color: #2f3234;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; }

.team {
  background: url("../img/background/bg-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(47, 50, 52, 0.8); }

.team__content {
  width: 70%; }

a {
  text-decoration: none; }

.team__title {
  font-family: gagalin;
  color: #f9b43b;
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 23px; }

.team__desc {
  padding-top: 6px; }

.team__subtitle {
  font-family: Ubuntu;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px; }

.team__text {
  font-family: Ubuntu;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  width: 209px; }

.team__name {
  font-family: gagalin;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team__name:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-width: 0;
  border-top-color: #f9b43b;
  margin-right: 9px;
  margin-top: 12px; }

.team__accordeon-inner {
  margin-bottom: 25px; }

.team__accordeon-inner--active .team__name {
  color: #f9b43b; }

.team__accordeon-inner--active .team__name:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.team__accordeon-inner--active .team__accordeon-description {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team__accordeon-description {
  height: 0;
  overflow: hidden; }

.team__photo {
  padding-left: 17px;
  margin-right: 21px; }

.team__photo-avatar {
  padding-top: 13px; }

.team__accordeon-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu {
  background: url("../img/background/bg-menu.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 650px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu__accordeon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.menu__title {
  top: 10%;
  left: 5%;
  position: absolute;
  font-family: gagalin;
  color: #ffffff;
  font-size: 72px;
  font-weight: 400;
  text-align: left; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: #ffffff; }

.menu__text {
  color: #ffffff;
  width: 0;
  overflow: hidden; }

.menu__bg_meat {
  background-image: url("../img/background/bg-meat.png");
  background-size: cover; }

.menu__bg_veg {
  background-image: url("../img/background/bg-veg.png");
  background-size: cover; }

.menu__bg_diet {
  background-image: url("../img/background/bg-diet.png");
  background-size: cover; }

.menu__bg {
  background-color: #4c4e50;
  position: relative;
  width: 80px; }

.menu__subtitle {
  position: absolute;
  top: 46%;
  left: 50%;
  font-family: "Gagalin";
  font-size: 2.5rem;
  white-space: nowrap;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-90deg) translateX(-50%) translateY(-50%);
  -ms-transform: rotate(-90deg) translateX(-50%) translateY(-50%);
  transform: rotate(-90deg) translateX(-50%) translateY(-50%); }

.order {
  background: url("../img/background/bg-texture.png") center center no-repeat;
  background-size: cover;
  min-height: 100vh; }

.order__container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%; }

.form {
  color: #fff; }

.form__row {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__block {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }

.form__input {
  padding: 6px;
  border-radius: 5px;
  width: 100%; }

.order__title {
  font-family: gagalin;
  color: #f9b43b;
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 23px; }

.form__content_location {
  width: 50%; }

.form__content_comments {
  width: 50%; }

.form__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__input_comment {
  height: 6.78rem; }

.form__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px; }

.form__radio {
  margin-top: 3px;
  margin-right: 7px;
  display: inline-block; }

.form__block-title {
  margin-bottom: 5px;
  font-size: 14px; }

.order__btn {
  margin: 0 6px;
  width: 97px;
  border-radius: 5px;
  padding-top: 2px;
  margin-top: 6px;
  border: none;
  background-color: #e45028;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; }

.order__btn-clear {
  background: none;
  font-size: 0.875rem;
  margin-left: 7px;
  padding-top: 2px;
  margin-top: 6px;
  border: none;
  font-family: Ubuntu;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer; }

.map {
  background: url("../img/background/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.footer {
  background: url("../img/background/bg-footer.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100vw;
  padding-bottom: 20px; }

.footer__container {
  min-height: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.footer__contacts {
  text-align: left;
  margin-right: auto; }

.footer__address {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff; }

.footer__tel {
  font-size: 14px;
  font-weight: 700;
  color: #e35028; }

.footer__socials {
  text-align: right; }

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__item {
  margin-right: 1.25rem; }
