@font-face {
  font-family: 'gagalin';
  src: url("../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/Gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/Lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/Lifehack/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 768px) {
  html {
    font-size: 15px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 14px; } }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%;
  font-size: 16px; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

.visuallyhidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/*.wraper{
	height: 100%;
    min-width: 1100px;
}*/
.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 100%;
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 40.625rem; }

.natural {
  background: url("../img/background/bg-first.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh; }

.natural__container {
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .natural__container {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .natural__container {
      width: 100%; } }

.natural__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 5.1875rem; }
  @media screen and (max-width: 768px) {
    .natural__content {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 63px;
      margin-top: 0; } }
  @media screen and (max-width: 480px) {
    .natural__content {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 63px;
      margin-top: 0; } }

.banner {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .banner {
      width: auto; } }

.desc {
  padding-top: 8rem;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .desc {
      padding-top: 0;
      text-align: center;
      width: auto; } }

.desc__title {
  font-family: gagalin;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 0.6875rem; }
  @media screen and (max-width: 768px) {
    .desc__title {
      text-align: center;
      font-size: 3.125rem; } }

.desc__text {
  font-family: lifehack;
  color: #ffffff;
  font-size: 4.0625rem;
  font-weight: 500;
  text-align: left;
  line-height: 0.94;
  letter-spacing: -0.125rem; }
  @media screen and (max-width: 768px) {
    .desc__text {
      width: 462px;
      text-align: center;
      font-size: 3.125rem; } }

.scroll {
  margin-top: 8rem; }

.best {
  background: url("../img/background/bg.png") center bottom no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__container {
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.title {
  font-family: gagalin;
  font-size: 4.5rem;
  font-weight: 400;
  color: #2f3234;
  text-transform: uppercase;
  margin-bottom: 2.125rem; }
  @media screen and (max-width: 768px) {
    .title {
      font-size: 3.125rem; } }

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  @media screen and (max-width: 480px) {
    .advantages {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.advantages__inner {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .advantages__inner {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.advantages__inner {
  margin-right: 1.25rem; }
  .advantages__inner:last-child {
    margin-right: 0; }

@media screen and (max-width: 480px) {
  .advantages__desc {
    margin-left: 24px; } }

.advantages__img {
  width: 6.0625rem;
  height: 5.875rem;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 1rem; }

.advantages__img_meat {
  /*width: 97px;
	height: 89px;*/
  background-image: url("../img/icons/meat.svg"); }

.advantages__img_hand {
  /*width: 73px;
	height: 85px;*/
  background-image: url("../img/icons/hand.svg"); }

.advantages__img_salad {
  /*width: 88px;
	height: 75px;*/
  background-image: url("../img/icons/salad.svg"); }

.advantages__subtitle {
  font-family: Lifehack;
  color: #2f3234;
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 1.75rem;
  text-align: center;
  padding-top: 0.5625rem; }
  @media screen and (max-width: 480px) {
    .advantages__subtitle {
      text-align: left; } }

.advantages__text {
  color: #2f3234;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: center;
  margin-top: -0.3125rem; }
  @media screen and (max-width: 480px) {
    .advantages__text {
      width: 320px;
      text-align: left; } }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.625rem;
  position: absolute; }

.header__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.header__logo {
  margin-right: auto; }

.logo__img {
  /*padding-top: 20px;*/
  width: 5.625rem;
  height: 4.375rem; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__list, .order-link {
  display: inline-block; }

@media screen and (max-width: 768px) {
  .nav__list {
    display: none; } }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:first-child:before {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.order-link {
  margin: 0 0.75rem;
  width: 6.0625rem;
  border-radius: 0.3125rem;
  padding-top: 0.125rem;
  border: none;
  background-color: #e45028;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; }

.nav-popup__btn {
  position: relative;
  display: none;
  width: 30px;
  height: 5px;
  border: none;
  border-radius: 2px;
  background-color: #ffffff; }
  .nav-popup__btn:before {
    top: -10px;
    left: 0;
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 5px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff; }
  .nav-popup__btn:after {
    top: 10px;
    left: 0;
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 5px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff; }
  @media screen and (max-width: 768px) {
    .nav-popup__btn {
      display: inline-block; } }

.paginations {
  right: 1%;
  position: fixed;
  top: 11%;
  z-index: 1; }

.paginations__list {
  margin-top: 0.5rem;
  margin-right: 3.3125rem;
  line-height: 1.1875rem; }
  @media screen and (max-width: 768px) {
    .paginations__list {
      display: none; } }

.paginations__item {
  list-style: none;
  color: #fff;
  position: relative;
  margin-bottom: 0.9375rem;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: #fff; }

.paginations__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5625rem; }

.paginations__item:hover .paginations__link {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -0.1875rem;
  left: -0.1875rem; }

.paginations__link--active {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -0.1875rem;
  left: -0.1875rem; }

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  position: relative; }

.reviews__container {
  min-height: 40.625rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .reviews__container {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .reviews__container {
      width: 100%; } }

.reviews__inner:hover .reviews__item {
  opacity: 1; }

.reviews__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 25%;
  height: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .reviews__inner {
      width: 50%;
      height: 25%; } }
  @media screen and (max-width: 480px) {
    .reviews__inner {
      width: 50%;
      height: 25%; } }

.reviews__img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -o-object-fit: cover;
  object-fit: cover;
  position: relative; }
  @media screen and (max-width: 768px) {
    .reviews__img {
      width: 50vw;
      height: 25vh; } }
  @media screen and (max-width: 480px) {
    .reviews__img {
      width: 48vw;
      height: 25vh; } }

.reviews__item {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 90%;
  width: 70%;
  text-align: left;
  margin: auto;
  position: absolute;
  -ms-flex-item-align: center;
  align-self: center; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.reviews__title {
  font-size: 0.875rem;
  color: #ffffff;
  font-family: gagalin;
  margin-bottom: 1.875rem; }
  @media screen and (max-width: 768px) {
    .reviews__title {
      margin-bottom: 0; } }

.reviews__text {
  font-size: 0.875rem;
  color: #ffffff;
  line-height: 1.5rem; }
  @media screen and (max-width: 768px) {
    .reviews__text {
      line-height: 0.75rem; } }
  @media screen and (max-width: 480px) {
    .reviews__text {
      display: none; } }

.btn__more {
  width: 6.875rem;
  border-radius: 0.3125rem;
  padding-top: 0.125rem;
  margin-top: 1.25rem;
  border: none;
  background-color: #2f3234;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; }

.team {
  background: url("../img/background/bg-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(47, 50, 52, 0.8); }
  @media screen and (max-width: 768px) {
    .team__container {
      width: 100%; } }

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70%; }
  @media screen and (max-width: 768px) {
    .team__content {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

a {
  text-decoration: none; }

.team__title {
  font-family: gagalin;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 1.4375rem; }
  @media screen and (max-width: 768px) {
    .team__title {
      font-size: 3.125rem; } }

.team__desc {
  padding-top: 0.375rem; }

.team__subtitle {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem; }

.team__text {
  font-family: Ubuntu;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  width: 13.0625rem; }

.team__name {
  font-family: gagalin;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: left;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background: none;
  border: none; }

.team__name:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 0.3125rem solid transparent;
  border-bottom-width: 0;
  border-top-color: #f9b43b;
  margin-right: 0.5625rem;
  margin-top: 0.75rem; }

.team__accordeon-inner {
  margin-bottom: 1.5625rem; }

.team__accordeon-inner--active .team__name {
  color: #f9b43b; }

.team__accordeon-inner--active .team__name:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.team__accordeon-inner--active .team__accordeon-description {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .team__accordeon-inner--active .team__accordeon-description {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.team__accordeon-description {
  height: 0;
  overflow: hidden; }

.team__photo {
  padding-left: 1.0625rem;
  margin-right: 1.3125rem; }

.team__photo-avatar {
  padding-top: 0.8125rem; }

.team__accordeon-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu {
  background: url("../img/background/bg-menu.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 40.625rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu__accordeon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 100%;
  bottom: 0;
  right: 0; }

.menu__title {
  top: 10%;
  left: 5%;
  position: absolute;
  font-family: gagalin;
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: left; }
  @media screen and (max-width: 768px) {
    .menu__title {
      font-size: 3.125rem; } }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: #ffffff; }

.menu__text {
  color: #ffffff;
  width: 0;
  overflow: hidden; }

.menu__text-active {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(47, 50, 52, 0.8); }

.menu__bg_meat {
  background-image: url("../img/background/bg-meat.png");
  background-size: cover; }

.menu__bg_veg {
  background-image: url("../img/background/bg-veg.png");
  background-size: cover; }

.menu__bg_diet {
  background-image: url("../img/background/bg-diet.png");
  background-size: cover; }

.menu__bg {
  position: relative;
  width: 5rem; }

.menu__subtitle {
  position: absolute;
  top: 46%;
  left: 50%;
  font-family: "Gagalin";
  font-size: 2.5rem;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-90deg) translateX(-50%) translateY(-50%);
  -ms-transform: rotate(-90deg) translateX(-50%) translateY(-50%);
  transform: rotate(-90deg) translateX(-50%) translateY(-50%); }

h3 {
  margin-bottom: 0px; }

.order {
  background: url("../img/background/bg-texture.png") center center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative; }

.order__container {
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%; }
  @media screen and (max-width: 768px) {
    .order__container {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .order__container {
      width: 100%; } }

.form {
  color: #fff; }

.form__row {
  margin-bottom: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__block {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }

.form__input {
  padding: 0.375rem;
  border-radius: 0.3125rem;
  width: 100%; }

.order__title {
  font-family: gagalin;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 1.4375rem; }
  @media screen and (max-width: 768px) {
    .order__title {
      font-size: 3.125rem;
      text-align: center; } }

@media screen and (max-width: 768px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.form__input_comment {
  height: 6.78rem; }

.form__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5625rem; }

.form__radio {
  display: none; }

.form__radio:checked + .form__radio_hidden:after {
  width: 7px;
  height: 7px; }

.form__radio_hidden {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  margin-right: 9px; }
  .form__radio_hidden:after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #e45028;
    top: 4px;
    left: 4px; }

.form__checkbox {
  display: none; }

.form__checkbox_hidden {
  width: 15px;
  height: 15px;
  background: #fff;
  position: relative;
  margin-right: 9px; }
  .form__checkbox_hidden:after {
    content: '';
    display: block;
    position: absolute;
    width: 11px;
    height: 7px;
    border-left: 3px solid #e45028;
    border-bottom: 3px solid #e45028;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 3px;
    left: 2px; }

.form__checkbox:checked + .form__checkbox_hidden:after {
  content: ''; }

.form__checkbox + .form__checkbox_hidden:after {
  content: none; }

.form__block-title {
  margin-bottom: 0.3125rem;
  font-size: 0.875rem; }

.order__btn {
  margin: 0 0.375rem;
  width: 6.0625rem;
  border-radius: 0.3125rem;
  padding-top: 0.125rem;
  margin-top: 0.375rem;
  border: none;
  font-family: Ubuntu;
  background-color: #e45028;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; }

.order__btn-clear {
  background: none;
  font-size: 0.875rem;
  padding-top: 0.125rem;
  margin-top: 0.375rem;
  border: none;
  font-family: Ubuntu;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer; }

.map {
  background-size: cover;
  position: relative;
  height: 100vh; }

.map__yandex {
  width: 100%;
  height: 100%; }

.footer {
  background: url("../img/background/bg-footer.png");
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.footer__container {
  min-height: 3.75rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__contacts {
  text-align: left;
  margin-right: auto; }
  @media screen and (max-width: 480px) {
    .footer__contacts {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      width: 451px; } }

.footer__address {
  font-size: 0.875rem;
  font-weight: 300;
  color: #ffffff; }

.footer__tel {
  font-size: 0.875rem;
  font-weight: 700;
  color: #e35028; }

.footer__socials {
  text-align: right; }

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__item {
  margin-right: 1.25rem; }

.social__icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.625rem;
  fill: #6b6969;
  width: 1.25rem;
  height: 1.25rem; }
  .social__icon:hover {
    fill: #ffffff; }
  .social__icon:first-child {
    margin-left: 0; }

.burger-slide {
  background: url("../img/background/bg-slide.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.burger-slide__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.burger-slide__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 475px; }
  .burger-slide__content .btn-left__svg {
    width: 26px;
    height: 17px; }

.burger-slide__btn-right {
  position: absolute;
  right: 10%;
  fill: white;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  .burger-slide__btn-right .btn-right__svg {
    width: 26px;
    height: 17px; }

.burger-slide__btn-left {
  position: absolute;
  left: 10%;
  fill: white;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.slide__decor {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slide__decor-burger {
  font-family: Gagalin;
  font-size: 0.875rem;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background: #ee832d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-text-decoration: uppercase;
  text-decoration: uppercase; }

.burger__svg {
  fill: #fff;
  width: 45px;
  height: 45px; }

.slide__decor-kkal {
  position: absolute;
  bottom: 0px;
  left: 0px;
  min-width: 70px;
  min-height: 80px;
  font-family: Gagalin;
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-text-decoration: uppercase;
  text-decoration: uppercase;
  opacity: .5; }

.kkal__count {
  position: absolute;
  font-size: 1.25rem; }

.kkal__svg {
  fill: #fff;
  width: 60px;
  height: 60px; }

.slide__title {
  font-family: Gagalin;
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 3.98406rem;
  width: 21.625rem; }

.slide__text {
  color: #ffffff;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem;
  width: 27.9375rem; }

.slide__price {
  font-family: Gagalin;
  font-weight: 400;
  font-size: 4.5rem;
  color: #e35028;
  display: inline-block;
  margin-right: 30px; }

.slide__price-rub {
  font-size: 30px;
  -webkit-text-decoration: uppercase;
  text-decoration: uppercase;
  margin-left: -15px; }
