@font-face {
    font-family: 'gagalin';
    src: url('../fonts/gagalin/gagalin-regular-webfont.woff2') format('woff2'),
         url('../fonts/gagalin/gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lifehack';
    src: url('../fonts/lifehack_medium-webfont.woff2') format('woff2'),
         url('..fonts/lifehack_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'Ubuntu', Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	line-height: 1.42em;
}


.my-flex-container{
	width: 100%;
	
    background: url('../img/background/video-bg.png');
}

.flex-container{
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.nav__item{
	display: inline-block;

	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;

	
}

.flex-item{
	margin-right: 0;
}

.nav__link{
	text-decoration: none;
	color:  #ffffff;

}


.nav__text{
	margin-right: 10px;
}
.nav__text::before{
	color:#ffffff;
	content: "\2022"

}