
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}


body, html{
	height: 100%;
}



body {
	font-family: 'Roboto', Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	line-height: 1.42em;
}

.wrapper{
	overflow: hidden;
	min-width: 1100px;
	min-height: 100%;
}	


.container {
	max-width: 1100px;
	margin: 0 auto;
}


.logo, .contacts{
	display: inline-block;
}


.contacts__phone {
	font-weight: bold;
	font-size:  22px;
	color: #ffffff;
	text-decoration: none;
	display: block;
}

.contacts__phone_small{
	font-size: 17px;
	display: inline-block;
}

.contacts__schedule{
	font-weight: bold;
	font-size: 14px;
	color: #c9d5e9;
	background-color: transparent;
	border: none;
	padding: 0;
	border-bottom: 1px solid;
	cursor: pointer;
	
}

.contacts__menu {
	position: relative;
	
	
}

.contacts__menu:hover .dropdown{
	left: 75px;
	opacity: 1;
	

	
}

.dropdown{
	
	width: 165px;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
    background: white;
    text-align: center;
    position: absolute;
    padding: 20px;
    top: 40px;
    /*left: 75px;*/
    transform: translateX(-50%);
    z-index: 10;
    border-radius: 2%;
    left:-9999px;
    opacity: 0;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    
}

.dropdown:before{
	content: "";
	position: absolute;
	display: block;
	height: 50px;
	left: 0;
	right: 0;
	top: -29px;
}

.dropdown__item_day{
	font-size: 14px;
	font-weight: 700;
	color: #4b73b5;
}

.dropdown__item_hour{
	font-size: 14px;
	font-weight: 300;
	color: #221f1f;
}





.triangle{
	border-top: 0px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ffffff;
	border-left: 10px solid transparent;
	width: 0px;
	height: 0px;
	bottom: 100%;
	position: absolute;
	left: 100%;
    margin-left: -22px

}


.header {
	background: #4b73b5;
	width: 100%;
}



.logotype, .communications{
	float: left;
	width: 50%;
}



.header__logo{
	margin-left: 20px;
	margin-top: 20px;
}

.communications{
	text-align: right;
	padding-bottom: 15px;
}

.contacts{
	margin-top: 20px;
	margin-right: 20px;
	
}




.nav{
	padding: 42px 21px;
	float: left;
	width: 115px;
	height: 100%
	
}

.content{
	margin-top: 12px;
	float: right;
	width: 900px;
	height: 100%;
}



.nav__list{
	margin: 0;
 	padding: 0;
	list-style-type: none;

}

.nav__link{
	text-decoration: none;

}
/*
.nav__link_active{
	color: black;
    pointer-events: none;
}*/

.nav__link--active{
	pointer-events: none;
}

.nav__link:hover .nav__text /*.nav__link_active*/{
	color: #221f1f;

}


.nav__icon{
	margin-right:17px;
	transition:  .5s;
	-webkit-transition:  .5s;

}

.nav__icon_plane{
	background:url('../img/icon/menu/main.png') 0 0 no-repeat;
	width: 23px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
}

.nav__icon_plane--active{
	background-image: url('../img/icon/menu/main-hover.png');
	
}




.nav__icon_star{
	background:url('../img/icon/menu/reviews.png') 0 0 no-repeat;
	width: 23px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
}

.nav__icon_star--active{
	background-image: url('../img/icon/menu/reviews-hover.png');
}

.nav__icon_hat{
	background:url('../img/icon/menu/team.png') 0 0 no-repeat;
	width: 23px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
}

.nav__icon_hat--active{
	background-image: url('../img/icon/menu/team-hover.png');
}


.nav__text{
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #4b73b5;
	letter-spacing: 2px;
	margin-left: -8px;
	transition:  .5s;
	-webkit-transition:  .5s;
}

.nav__text--active{
	color: #221f1f;
}



.nav__item{
	margin-bottom: 26px;
}


.nav__link:hover .nav__icon_star{
	background-image: url('../img/icon/menu/reviews-hover.png');
}

.nav__link:hover .nav__icon_plane{
	background-image: url('../img/icon/menu/main-hover.png');
}

.nav__link:hover .nav__icon_hat{
	background-image: url('../img/icon/menu/team-hover.png');
}



.tariff{
	
	margin-bottom: 75px;
	
}	

.tariff__inner{
	text-align: center;
	display: inline-block;
	margin-right: 41px;
    margin-top: 44px;
    margin-left: 21px;
}

.tariff__title{
	font-size: 49px;
	font-weight: bold;
	margin-left: -7px;
	margin-top: 19px;
	margin-bottom: 43px;
	
}



.tariff__subtitle{
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 21px;
	margin-bottom: 18px;
	letter-spacing: 2px;
	margin-left: 3px;
}

.tariff__description{
	font-size: 18px;
	color: #221f1f;
	max-width: 205px;
	margin-top: 21px;
}

.tariff__list{
	text-align: left;
	margin-top: 19px;
	margin-bottom: 35px;
	margin-left: -20px;
}

.tariff__item{
	padding-left: 10px;
	padding-bottom: 10px;
}

.tariff__img{
	width: 68px;
	height: 68px;
	background-color:#4b73b5;
	border-radius:50%;
	display: inline-block;
  	background-position: center center;
  	background-repeat: no-repeat;
}

.tariff__img_flower{
	background-image: url('../img/icon/menu/flower.png');
}

.tariff__img_star{
	background-image: url('../img/icon/menu/star.png');
}

.tariff__img_pallete{
	background-image: url('../img/icon/menu/palette.png');
}

.tariff__price{
	font-size: 53px;
	font-weight: bold;
	margin-bottom: 42px;
	margin-left: 7px;
}

.symbol{
	font-size: 30px;
}




.news__desc {
	border-bottom: 2px solid #f5f5f5;
	padding-top: 28px;
	padding-bottom: 31px;	
 }	

 .news__desc:last-child{
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 27px;
}



.news__img, .news__item{
	display: inline-block;

}



.reviews__img{
	display: inline-block;
}

.news__title{
	font-size: 49px;
	font-weight: bold;
	padding-bottom: 14px;
	
}





.news__img{
  width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin-right: 16px;
	 margin-top: 7px;

}





.news__date{
	font-size: 14px;
	color: #989898;
	font-weight: lighter;
	padding-bottom: 10px;
}



.news__subtitle{
	font-size: 18px;
	font-weight: 700;
	color:#221f1f;
	margin-top: -8px;
}

.news__description{
	font-size: 18px;
	font-weight: 300;
	color:#221f1f;
	margin-top: -14px;
	
}

.news__item{
	font-size: 18px;
	font-weight: lighter;
	line-height: 1.67;
}

.news__desc{
	/*list-style: none;*/
	margin: 0;
	padding-top: 24px;
	padding-left: 0;
	padding-bottom: 28px;
	padding-right: 0;
}



.news__description{
	max-width: 710px;
}

.news__description__travel{
	max-width: 687px;
}




.pagination{
	text-align: center;
	margin-bottom: 10px;
}

.pagination__display, .pagination__controls{
	display: inline-block;
	vertical-align: middle;
	margin-right: 34px;
}

.pagination__btn, .pagination__list, .pagination__item{
	display: inline-block;
	vertical-align: middle;
	margin-right: -6px;
    margin-left: 2px;
}

.pagination__page{
	transition: .5s;
	-webkit-transition:  .5s;
}

.pagination__page:hover{
	color: #4b73b5;
}

.pagination__display{
	font-size: 14px;
	font-weight: 300;
	color: #656464;
	margin-right: 11px;
    margin-left: -8px;
}

.pagination__list, .breadcrumbs__list{
  margin: 0;
  padding: 0;
  list-style: none;
}


.pagination__page{
	display: block;
	padding: 10px 0px;
	width: 25px;
	color: #221f1f;;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

.pagination__page_active{
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	background-color:  #4b73b5;
	padding: 0px 0px;
}

/*.pagination__page:hover{
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	background-color:  #4b73b5;
	padding: 0px 0px;
}*/

.pagination__btn{
	text-decoration: none;
}

.pagination__btn_left{
	opacity: 0.6;
	margin-right: 10px;
}





.footer {
	min-width: 1100px;
	height: 76px;
	margin-top: 40px;
	background: #4b73b5;
	width: 100%;
	
	
}



.footer__signature {
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	margin-left: 20px;
}

.footer__signature a {
  color: #fff;
  font-weight: bold;
}

.bold-text {
  font-weight: bold;
}

.footer__col_mid {
  text-align: center;
}

.social {
  display: block;
  text-align: right;
  padding-top: 10px;
}

.social__title {
   font-weight: bold;
   margin-right: 10px;
}

.social__item {
  display: inline-block;
  margin-right: 10px;
  background-color: #d2def3;
  border-radius: 50%;
  
}



.social__link {
  width: 20px;
  height: 20px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background: url('../img/icon/social/social-sprite.png') 0 0 no-repeat;
  transition: .5s;
  -webkit-transition:  .5s;

}

.social__link:hover{
  border-radius: 50%;
  background-color: #ffffff;
}

.social__link_vk {
  background-position: 4px 4px;
}

.social__link_fb {
  background-position: -90px 4px;
}

.social__link_gp {
  background-position: -190px 4px;
}

.social__link_tw {
  background-position: -289px 4px;
}

.social__link_mail {
  background-position: -391px 4px;
}



.footer__col_last {
  text-align: right;
}

.footer .container {
  font-size: 0;
}

.footer .container * {
  font-size: 14px;
}

.footer__col {
  display: inline-block;
  width: 33.3%;
  vertical-align: middle;
  color: #fff;
}



.breadcrumbs {
  margin-top: 27px;
}

.breadcrumbs__item {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  color: #656464;
  opacity: .8;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__item-link {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #1c5bc3;
}

.breadcrumbs__item-link_active {
  color: #656464;
  opacity: .8;
  text-decoration: none;
}

.reviews__title{
	font-size: 49px;
    font-weight: bold;
    margin-top: 31px;
    margin-bottom: 50px;
}




.reviews__desc{
    border-bottom: 2px solid #f5f5f5;
    padding-top: 30px;
    padding-bottom: 0px;	
}

.reviews__desc:last-child{
	border-bottom: none;
	padding-bottom: 18px;
	padding-bottom: 50px;
	
}


.reviews__item{
	display: inline-block;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;

}

.reviews__img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 16px;
    margin-top: 7px
  
}


.reviews__date{
    font-size: 14px;
    color: #989898;
    font-weight: lighter;
    padding-bottom: 10px;
}
.reviews__subtitle{
    font-size: 18px;
    font-weight: 700;
    color: #221f1f;
    margin-top: -8px;
}
.reviews__description{
    font-size: 18px;
    font-weight: 300;
    color: #221f1f;
    margin-top: -14px;
	
	
}

.info{
  background: url(../img/decor/background.png) center center no-repeat; 
  margin-top: 40px;
 
}

.info__description{
  padding: 50px 250px;
  color:  #ffffff;
  font-size: 17px;
  max-width: 630px;
}

.reviews__description{
	max-width: 700px;
}

.line-text{
	font-weight: bold;
	border-bottom: 1px solid;
	color: #ffffff;
	background-color: transparent;
	border: none;
	padding: 0;
	border-bottom: 1px solid;
	outline: none;
}






.form__inner{
	width: 700px;
	margin: 0 auto;
	background-color: #f5f5f5;
	margin-top: 55px;
	padding-bottom: 50px;
	height: 425px;
	border-radius: 3px;
}



.form__data, .form__title, .form__review, .form__photo{
	margin-left: 70px;
}



.form__item{
	display: inline-block;
	width: 270px;
	margin-right: 20px;
}

.form__review{
	width: 560px;
	margin-top: 
}

textarea{
	min-height: 88px;
}

.form__photo {
	float: left;
}

.form__btn{
	float: right;
	margin-right: 70px;
	margin-top: 20px;

	
}







.form__title{
	font-size: 50px;
	font-weight: bold;
	color: #221f1f;
	padding-top: 60px;
}

.form__subtitle{
	font-size: 15px;
	font-weight: 300;
	color: #221f1f;
	margin-bottom: 10px;
	margin-top: 20px;
}


.form__input{
	width: 270px;
	height: 50px;
	border: none;
	outline-color: #ffffff;;
}

.form__text{
	width: 560px;
}



.form__send{
	background-color: #4b73b5;;
	padding: 17px 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	text-align: right;
	border-radius: 3px;
	cursor: pointer;
	}



.form__icon {
	vertical-align: middle;
	background-image: url('../img/icon/menu/main_white.png');
	width: 20px;
	height: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
}


.team__list{
	margin: 0;
 	padding: 0;
	list-style-type: none;
	text-align: center;
}

.team__item{
	display: inline-block;
	margin-right: 30px;
	vertical-align: top;


}


.team__title{
	font-size: 49px;
	font-weight: 700;
}

.team__img{
  
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 20px;
  
 }

.team__img_Alex{
	background-image: url('../img/content/Alex-hover.png');

}

.team__img_Inna{
	background-image: url('../img/content/Inna-hover.png');

}

.team__img_Boris{
	background-image: url('../img/content/Boris-hover.png');

}

.team__img_Elina{
	background-image: url('../img/content/Elina-hover.png');

}

.team__img_Elena{
	background-image: url('../img/content/Elena-hover.png');

}

.team__img_Yrii{
	background-image: url('../img/content/Yrii-hover.png');

}



 .team__overlay{

 	background: rgba(75, 115, 181, 0.6);
 	width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;    
 }

 .team__overlay-text{
 	color: #ffffff;
    position: absolute;
    font-weight: bold;
    font-size: 22px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
 }


.team__overlay:hover{
	opacity: 0;
	cursor: pointer;
}


.team__content{
	text-align: center;
}



.team__name{
	font-size: 18px;
	color:  #221f1f;
	font-weight: 700;
	margin-bottom: 10px;
}

.team__prof{
	font-size: 14px;
	color:  #4b73b5;
	font-weight: 700;
}

.team__desc{
	font-size: 14px;
	font-weight: 300;
	max-width: 261px;
}



.partners__list {
	list-style: none;
	margin: 0;
 	padding: 0;
}

.partners__item {
	display: inline-block;
	width: 293.33px;
	height: 118px;
	vertical-align: middle;
	position: relative;

}

.partners__logo {
   filter: grayscale(100%);
}

.partners__logo:hover{
	filter: grayscale(0%);
}

.partners__logo {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.partners__title{
	margin-top: 28px;
	margin-bottom: 33px;
	color:  #221f1f;
	font-size: 49px;
	font-weight: 700;
}





.intro {
    width: 100%;
    height: 100%;
    background: url('../img/intro/intro.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.intro__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.intro__logo {
    width: 115px;
    height: 190px;
    background: url(../img/logo/logo_intro.png) no-repeat center center;
    margin-bottom: 40px;
    margin-left: 50px;
    
}

.intro__link{
	text-decoration: none;
	color: #1c5bc3;
	font-size: 10px;
	text-transform: uppercase;
}

.intro__link-item {
    border: 1px solid #4b73b5;
    padding: 12px 18px;
    position: relative;
    transition: background 1s, color 1s;
    -webkit-transition: background 1s, color 1s;
}

.intro__link-text{
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color: #4b73b5;
	vertical-align: middle;
	text-align: center;
	margin-right: 3px;
}

.intro__link-icon{
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url('../img/icon/menu/main.png');
}

.intro__link-text, .intro__link-icon{
	display: inline-block;
}