@font-face {
    font-family: 'gagalin';
    src: url('../fonts/gagalin/gagalin-regular-webfont.woff2') format('woff2'),
         url('../fonts/gagalin/gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lifehack';
    src: url('../fonts/lifehack_medium-webfont.woff2') format('woff2'),
         url('..fonts/lifehack_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'Ubuntu', Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	line-height: 1.42em;
}


header{
	margin-left: 255px;
}

.my-flex-container{
	width: 100%;
	
    background: url('../img/background/video-bg.png')  center center;
}

.flex-container{
	max-width: 1100px;
	/*margin: 0 auto;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flex-item{
	padding: 10px;
}

.logo__img{
    width: 90px;
	height: 70px;
}

.nav{
	margin-left: 50px;
}

.nav__item{
	display: inline-block;

	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;

	
}

/*.flex-item{
	margin-right: 0;
}*/

.nav__link{
	text-decoration: none;
	color:  #ffffff;

}



.nav__text:after{
	color:#ffffff;
	content: "\2022";
	margin-right: 12px;
    margin-left: 15px;
}

.form__btn{
	
	
	width: 97px;
	height: 35px;
}

.form__send{
	border-radius: 5px;
	font-family: Ubuntu;
	background-color:  #e45028;
	color:  #ffffff;
	font-size: 13px;
	font-weight: 500;
	line-height: 30px;
	text-align: right;
	text-transform: uppercase;
	cursor: pointer;
}

.desc__title{
	font-family: Gagalin;
	color:  #f9b43b;
	font-size: 72px;
	font-weight: 400;
	text-align: left;
}

.desc__text{
	max-width: 50px;
	font-family: Lifehack;
	color:  #ffffff;
	font-size: 65px;
	font-weight: 500;
	text-align: left;
	transform: scaleX(1.0006);

}
