.best{
	background: url('../img/background/bg.png')  center bottom no-repeat;
	background-size: cover;
   
    // height: 100vh;
    // width: 100%;
   
    
}

.best__container{


    @include tablets() {
       
        
        width: 90%;
    }
   
   
   
}

.title{
	font-family: gagalin;
	font-size: rem(72px);
	font-weight: 400;
	color: #2f3234;
	text-transform: uppercase;
    margin-bottom: rem(34px);

    @include tablets() {
       
        
        font-size: rem(50px);
    }
}



.advantages{
	display: flex;
	// width: 960px;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;

    @include phones() {

        flex-direction:column;
        align-items:center;
       

    }
	
}



.advantages__inner{
	width: 33%;
	display: flex;
    flex-direction: column;
    align-items: center;

     @include phones() {

        flex-direction:row;

        display: flex;
        width: 100%;
    	text-align: left;
       

    }
    
}

.advantages__inner {
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.advantages__desc{
	@include phones() {

        margin-left: 16px;
        text-align: left;
       

    }
}

.advantages__img{
	width: rem(97px);
	height: rem(94px);
	background-position: center center;
  	background-repeat: no-repeat;
  	margin-bottom: rem(16px);
  
}

.advantages__img_meat{
	/*width: 97px;
	height: 89px;*/
	background-image: url('../img/icons/meat.svg');
}

.advantages__img_hand{
	/*width: 73px;
	height: 85px;*/
	background-image: url('../img/icons/hand.svg');
}

.advantages__img_salad{
	/*width: 88px;
	height: 75px;*/
	background-image: url('../img/icons/salad.svg');
}

.advantages__subtitle{
	font-family: Lifehack;
	color:  #2f3234;
	font-size: rem(23px);
	font-weight: 500;
	line-height: rem(28px);
	text-align: center;
	padding-bottom: rem(10px);
    padding-top: rem(9px);

	@include phones() {

        
        text-align: left;
       

    }

}



.advantages__text{
	
	color:  #2f3234;
	font-size: rem(14px);
	font-weight: 300;
	line-height: rem(24px);
	text-align: center;
	margin-top: rem(-5px);

	    @include phones() {

        
        text-align: left;
       

    }
}

