.best{
	background: url('../img/background/bg.png')  center bottom no-repeat;
	background-size: cover;
    display: flex;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.best__container{
	height: 100vh;
   display: flex;
   align-self: flex-start;
   
   
}

.title{
	
    padding-bottom: 5px;
}

.title__text{
	font-family: gagalin;
	font-size: 72px;
	font-weight: 400;
	color: #2f3234;
	text-transform: uppercase;
	
}

.advantages{
	display: flex;
	width: 960px;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
	
}

.advantages__inner{
	width: 300px;
	display: flex;
    flex-direction: column;
    align-items: center;
    
}


.advantages__img{
	width: 90px;
	height: 94px;
	background-position: center center;
  	background-repeat: no-repeat;
  	margin-bottom: 16px;
  
}

.advantages__img_meat{
	/*width: 97px;
	height: 89px;*/
	background-image: url('../img/icons/meat.svg');
}

.advantages__img_hand{
	/*width: 73px;
	height: 85px;*/
	background-image: url('../img/icons/hand.svg');
}

.advantages__img_salad{
	/*width: 88px;
	height: 75px;*/
	background-image: url('../img/icons/salad.svg');
}

.advantages__subtitle{
	font-family: Lifehack;
	color:  #2f3234;
	font-size: 23px;
	font-weight: 500;
	line-height: 28px;
	text-align: center;
	
    padding-top: 9px;
}

.advantages__text{
	font-family: Ubuntu;
	color:  #2f3234;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
	margin-top: -5px;
}

