.burger-slide {
  background: linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  display: flex;
  
  position: relative;
  // height: 100vh;

}

.burger-slide__container{

    @include tablets() {
        
       width: 90%;

    }
}

.slider{
 position: relative;
 width: 100%;
 height: 100%;
 overflow: hidden;

}


.slider__list{
  display: flex;
  width: rem(5000px);
  position: absolute;
  height: 100%;
  overflow: hidden;

    //      @include tablets() {

    //    width: 90%;
    // }
  
}

.slider__item{

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
     @include tablets ()

  {
     width: 14%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

 


}



.slide__content{
    position: relative;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
   align-items: center;
    max-width: 940px;
    width: 95%;
    height: 100%;

      @include tablets ()

  {
       margin-right: rem(16px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}








.slide__decor {
    width: 45%;
    display: flex;
    align-items: center;
    margin-left: 45px;
    margin-right: 10px;

       @include tablets() {
       width: 70%;
       margin-left: 0px;
       margin-right: 0px;
    }
   
       @include phones() {
       width: 80%;
       padding-top: 20%;
       
    }
   //           @media screen and (max-width: 425px) {
   //         padding-top: 50%;
   // }
    
}


.slide__decor-banner{
  width: 100%;
}
.slide-pic{
  width: 100%;
    @include tablets() {
       padding-top: 20%;;
      } 
  
}







.slide__decor-kkal {
    position: absolute;
    bottom: rem(205px);
    min-width: rem(70px);
    min-height: rem(80px);
    font-family: Gagalin;
    font-weight: 400;
    font-size: rem(14px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: uppercase;
    opacity: .5;
    
        @include tablets() {

        top: 6%;
        right: 8%;
        bottom: auto;
        left: auto;
    }
       @include phones() {

        top: 11%;
        right: 8%;
        bottom: auto;
        left: auto;
    }

   

}

.kkal__count {
    position: absolute;
    font-size: rem(20px);
}

.kkal__svg {
  fill:#fff;
    width: rem(60px);
    height: rem(60px);
}

.slide__desc{
  width: 45%;

           @include tablets() {
              width: 80%;
              padding-top: 8%;
              text-align: center;
    
    }


    //         @include phones() {
    //         padding-top: 15%;
              
    // }
   //           @media screen and (max-width: 425px) {
   //         padding-top: 10%;
   // }

    
}

.slide__title {
      margin-bottom: rem(41px);
    font-family: Gagalin;
  color:  #ffffff;
  font-size: rem(72px);
  font-weight: 400;
  line-height: rem(63px);


  @include phones() {
            font-size: rem(50px);
            margin-bottom: 0;
          }

     
}

.slide__text{
    color:  #ffffff;
    font-weight: 300;
    font-size: rem(14px);
    line-height: rem(24px);
    
}

.slide__price {
    font-family: Gagalin;
    font-weight: 400;
    font-size: rem(72px);
    color: #e35028;
    display: inline-block;
    margin-right: rem(30px);

        @include tablets() {

       top:0;
    }
        @include phones() {

       margin-right:0;
    }

         @media screen and (max-width: 425px) {
       font-size: rem(50px);
   }
}

.slide__price-rub {
    font-size: rem(30px);
    text-decoration: uppercase;
    margin-left: rem(-15px);
          @media screen and (max-width: 425px) {
           font-size: rem(20px);
   }
}



.slider__controls{
     z-index: 5;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    // padding: 0 20px;
    // transform: translateY(-50%);
}

.burger-slide__btn-next{
  
  left: 10%;
  display: flex;
  fill: white;
  transform: rotate(-90deg);
  cursor: pointer;

   .btn-next__svg {
    width: rem(26px);
    height: rem(17px);
    }

}

.burger-slide__btn-prev{
  
  right: 10%;
  display: flex;
  fill: white;
  transform: rotate(90deg);
  cursor: pointer;

    .btn-prev__svg {
    width: rem(26px);
    height: rem(17px);
    }
}

.bx-wrapper {
    
    box-shadow: 0 0 0 0;
    border: none;
    background: none;
}

.bx-wrapper .bx-prev

{
    left: 10px;
    background: url('../img/icons/arrow-scroll prev.png') no-repeat;
}

.bx-wrapper .bx-next

{
    right: 10px;
    background: url('../img/icons/arrow-scroll next.png') no-repeat;

   
}

.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
     background-position: 0 0; 
     

}


.composition {
  position: absolute;
  top: rem(182px);
  display: flex;
  // top: 10rem;
  z-index: 0;
   @include tablets() {

       top: 6%;
       left: 8%;
    }
     @include phones() {

       top: 11%;
       left: 8%;
    }

   
  }

.slide__decor-burger {
  z-index: 1;
  position: relative;
    border: none;
    cursor: pointer;
    font-family: Gagalin;
    font-size: rem(14px);
    width: rem(90px);
    height: rem(90px);
    border-radius: rem(5px);
    background: #ee832d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: uppercase;
    transition: .4s;
    &:hover{
       background:#d66000;
    }

    &:hover  ~ .burgers__menu-list{

      opacity: 1;
    }

   
   
         @include tablets() {

       top: 10%;
       left: 0;
       
    }


        @include phones() {

       top: 0;
       left: 0;
       width: rem(70px);
       height: rem(70px);
    }

}



.burger__svg {
    fill:#fff;
    width: rem(45px);
    height: rem(45px);




 }

.burgers__menu-list {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
   transition: all .4s;
   opacity:  0;
   padding: 10px 10px;

    

    }

.burgers__menu-list--active {
  opacity: 1; }

.burgers__menu-item {
  display: flex;
  justify-content: space-around;
  align-items: center; 
}


.burgers__menu-icon {

  width: rem(30px);
  height: rem(30px); 

@include tablets () {
  
    width: rem(25px);
    height: rem(25px); 
  }
}

.burgers__menu-icon--beef {

  fill: #e15431; 
}

.burgers__icon--buns {
  fill: #f6b641; 
}

.burgers__icon--salad {
  fill: #89c242; 
}

.burgers__icon--sauce {
  fill: #e15431;
}

.burgers__icon--cucumber {
  fill: #89c242; 
}

.burgers__icon--cheese {
  fill: #f6b641; 
}

.burgers__menu-name,
.burgers__menu-weight {
  color: #191919;
  font-size: rem(20px);
  padding: rem(8px); 

    @include tablets () {
  
    font-size: rem(15px);
    
  }

}

