.burger-slide {
  background: linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  display: flex;
  
  position: relative;
  height: 100vh;

}

.burger-slide__container {
  // width: 100%;
  min-height: rem(650px);
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:row;
  // position: absolute;
     
 

   }



.burger-slide__btn-left{
  display: flex;
  fill: white;
  transform: rotate(90deg);
  cursor: pointer;

   .btn-left__svg {
    width: rem(26px);
    height: rem(17px);
    }

}

.burger-slide__content{
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
         @include tablets() {

       flex-direction:column;
       text-align: center;
    }

}

.burger-slide__btn-right{
  display: flex;
  fill: white;
  transform: rotate(-90deg);
  cursor: pointer;

    .btn-right__svg {
    width: rem(26px);
    height: rem(17px);
    }
}



.slide__decor {
    width: 50%;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        @include tablets() {
       width: 90%;
       padding-top:15%;
    }
    
}


.slide__decor-banner{
  width: 100%;
}
.slide-pic{
  width: 100%;
    @include tablets() {
       width: 85%;
      } 
  
}



.slide__decor-burger {
    font-family: Gagalin;
    font-size: rem(14px);
    position: absolute;
    top: rem(170px);
    left: 0;
    width: rem(90px);
    height: rem(90px);
    border-radius: rem(5px);
    background: #ee832d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: uppercase;
    // margin-left: rem(83px);
         @include tablets() {

       top:4%;
       left: 8%;
    }
         @include phones() {

       width: auto;
    }
   

}

.burger__svg {
    fill:#fff;
    width: rem(45px);
    height: rem(45px);
}



.slide__decor-kkal {
    position: absolute;
    bottom: rem(170px);
    left: 0;
    min-width: rem(70px);
    min-height: rem(80px);
    font-family: Gagalin;
    font-weight: 400;
    font-size: rem(14px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: uppercase;
    opacity: .5;
    
        @include tablets() {

        top: 5%;
        right: 8%;
        bottom: auto;
        left: auto;
    }

}

.kkal__count {
    position: absolute;
    font-size: rem(20px);
}

.kkal__svg {
  fill:#fff;
    width: rem(60px);
    height: rem(60px);
}

.slide__desc{
  width: 50%;

           @include tablets() {
            width: 80%;
            padding-top: 5%;
    
    }
    
}

.slide__title {
      margin-bottom: rem(41px);
    font-family: Gagalin;
  color:  #ffffff;
  font-size: rem(72px);
  font-weight: 400;
  line-height: rem(63px);


  @include phones() {
            font-size: rem(50px);
          }

     
}

.slide__text{
    color:  #ffffff;
    font-weight: 300;
    font-size: rem(14px);
    line-height: rem(24px);
    
}

.slide__price {
    font-family: Gagalin;
    font-weight: 400;
    font-size: rem(72px);
    color: #e35028;
    display: inline-block;
    margin-right: rem(30px);

        @include tablets() {

       top:0;
    }
}

.slide__price-rub {
    font-size: rem(30px);
    text-decoration: uppercase;
    margin-left: rem(-15px);
}

