.footer {
  position: absolute;
  bottom: 0;
  background: url('../img/background/bg-footer.png'); 
  background-size: cover;
  // position: relative;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  
  // padding-bottom: 20px;
}

.footer__container{

  min-height: rem(60px);
  flex-direction:row;

   @include tablets() {
       width: 95%; 
      
    }
  
  @include phones() {
       flex-direction:column; 
       padding-top: 10px;
       padding-bottom: 10px;
      
    }

}

.footer__contacts{
  text-align: left;
  margin-right: auto;
   @include phones() {
       flex-direction:column; 
       text-align: center;
       width: 100%;
    }
}

.footer__address{
  
  font-size: rem(14px);
  font-weight: 300;
  color: #ffffff;	
}

.footer__tel{
 font-size: rem(14px);
 font-weight: 700;
 color: #e35028
}

.footer__socials{
	text-align: right;
}

.footer__list{
	display: flex;
}

.footer__item{
	margin-right: 1.25rem;
}

.social__icon{
  display: inline-block;
  vertical-align: middle;
  margin-left: rem(10px);
  fill:#6b6969;
  width: rem(20px);
  height: rem(20px);
  transition: .4s;
  &:hover{
    fill:#ffffff;

  }

  &:first-child{
    margin-left: 0;
  }

}

.phone__icon{
      width: rem(12px);
    height: rem(12px);
    margin-right: rem(5px);
    fill: #e45028;
}