.natural{
	background: url('../img/background/bg-first.jpg')  center center no-repeat;
	background-size: cover;
    display: flex;
    min-height: 100vh;
    
    
}

.natural__container{
	min-height: 650px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
	

	
}



.natural__content{
	display: flex;
    width: 100%;
    margin-top: 83px;

}

.banner{
	width: 50%;
   
}



.desc{
	padding-top: 8rem;
    width: 50%;
}


.desc__title{
    font-family: gagalin;
    color: #f9b43b;
    font-size: 72px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 11px
}

.desc__text{
	
    font-family: lifehack;
    color: #ffffff;
    font-size: 65px;
    font-weight: 500;
    text-align: left;
    line-height: 0.94;
    letter-spacing: -2px;
    

}



.scroll{
	margin-top: 8rem;
	
    
    
}