.order {
  background: url('../img/background/bg-texture.png') center center no-repeat;
  background-size: cover;
  // height: 100vh;
  position: relative;
}

.order__container{

  
      padding-top: 5%;
    padding-bottom: 5%;

       @include tablets() {

       width: 100%;

    }

     @include phones() {

       width: 100%;
       padding-left: 20px;


    }
}

.form{
  color: #fff;
}

.form__row{
  margin-bottom: rem(18px);
  display: flex;
}

.form__block{
  display: block;
  flex:1;
  margin-right: rem(20px);
  
}

// .form__block:last-child{
//     margin-right: 0;
//   }

.form__input{
  padding: rem(6px);
  border-radius: rem(5px);
  width: 100%;
}

.order__title{
   font-family: gagalin;
    color: #f9b43b;
    font-size: rem(72px);
    font-weight: 400;
    margin-bottom: rem(23px);
      @include tablets() {
        font-size: rem(50px);
        text-align: center;
        
    }
     @include phones() {
        margin-bottom: 0;
        
    }

    @media screen and (max-width: 360px) {
           font-size: rem(38px);;
   }
    
}

.form{
    @include tablets() {
      width: 60%;
      display: flex;
        flex-direction:column;
        align-items:center;
        

    }

     @include phones() {
      width: 100%;
      display: flex;
        flex-direction:column;
        align-items:center;
        

    }

    
}

// .form__content_location{
//   width: 50%;
// }

// .form__content_comments{
//   width: 50%;
// }


.form__input_comment{
  height: 6.78rem;
}

.form__check{
  display: flex;
  margin-right: rem(25px);

  
}

.form__radio{
  display: none;
  // margin-top: rem(3px);
  // margin-right: rem(7px);
  // display: inline-block;
}

.form__radio:checked {
  &+.form__radio_hidden {
    &:after {
        width: 7px;
        height: 7px;
      }
    }
}

.form__radio_hidden{
     width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    margin-right: 9px;

    &:after{
          content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #e45028;
    top: 4px;
    left: 4px;
    }
}


.form__checkbox{
  display: none;


}

.form__checkbox_hidden {
  width: 15px;
  height: 15px;
  background: #fff;
  position: relative;
  margin-right: 9px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 11px;
    height: 7px;
    border-left: 3px solid #e45028;
    border-bottom: 3px solid #e45028;
    transform: rotate(-45deg);
    top: 3px;
    left: 2px;
  }
}

.form__checkbox:checked {
  &+.form__checkbox_hidden {
    &:after {
      content: '';
    }
  }
}

.form__checkbox + .form__checkbox_hidden:after {
  content: none;
}

.form__block-title{
  margin-bottom: rem(5px);
  font-size: rem(14px);
}

.order__btn{
  margin: 0 rem(6px);
  width: rem(97px);
  border-radius: rem(5px);
  padding-top: rem(2px);
   margin-top: rem(6px);
  border:none;
  font-family: Ubuntu;
  background-color:  #e45028;
  color:  #ffffff;
  font-size: rem(13px);
  font-weight: 500;
  line-height: rem(30px);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.order__btn-clear{
    background: none;
    font-size: 0.875rem;
    padding-top: rem(2px);
    margin-top: rem(6px);
    border:none;
    font-family: Ubuntu;
    color:  #ffffff;
    font-size: rem(14px);
    font-weight: 500;
    cursor: pointer;
}