.order {
  background: url('../img/background/bg-texture.png') center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.order__container{
  height: 100vh;
  display: flex;
  flex-direction:column;
  align-items:center;
  
      padding-top: 5%;
    padding-bottom: 5%;
}

.form{
  color: #fff;
}

.form__row{
  margin-bottom: 18px;
  display: flex;
}

.form__block{
  display: block;
  flex:1;
  margin-right: 20px;
  
}

// .form__block:last-child{
//     margin-right: 0;
//   }

.form__input{
  padding: 6px;
  border-radius: 5px;
  width: 100%;
}

.order__title{
   font-family: gagalin;
    color: #f9b43b;
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 23px;
}

.form__content_location{
  width: 50%;
}

.form__content_comments{
  width: 50%;
}

.form__elem{
  display: flex;
}

.form__input_comment{
  height: 6.78rem;
}

.form__check{
  display: flex;
  margin-right: 25px;
}

.form__radio{
  margin-top: 3px;
  margin-right: 7px;
  display: inline-block;
}

.form__block-title{
  margin-bottom: 5px;
  font-size: 14px;
}

.order__btn{
  margin: 0 6px;
  width: 97px;
  border-radius: 5px;
  padding-top: 2px;
    margin-top: 6px;
  border:none;
  
  background-color:  #e45028;
  color:  #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.order__btn-clear{
    background: none;
    
    font-size: 0.875rem;
     margin-left: 7px; 
    padding-top: 2px;
    margin-top: 6px;
    border:none;
    font-family: Ubuntu;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}